{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-trailing-spaces": "error"
  }
}
